*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    
    color: white;
    background-color: #FF6900;
}
 
nav{
    width: 1400px;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
main{
    width: 1400px;
    margin:60px auto;
}
footer{
    background-color:#1A1A1A;
}
.giu{
    width: 1400px;
    margin:60px auto 0;
    
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    color: white;
}
div.logo>img{
  width: 140px;  
}
.flex-ul{
    display: flex;
}
li{
    list-style: none;
    font-weight:bold;
}
.centro{
    padding: 0 5px;
}
div.col>img{
    width:calc((1400px - 40px) / 3);
}
section{
    display: flex;
}
.centro2{
    margin: 0 20px;
}
.euro{
    color: red;
}
.cuore{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 30px;
    background-color: white;
    padding: 8px 16px;
    text-align: center;
}
.col{
    position: relative;
}
.sconto{
    position: absolute;
    left: 0;
    bottom: 108px;
    background-color: red;
    color: white;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 15px;
}
.cuboverde{
    position: absolute;
    left: 62px;
    bottom: 108px;
    background-color:green;
    padding: 5px 12px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
span{
    text-decoration: line-through;
    color: black;
}
.cuboverde2{
    position: absolute;
    left: 0;
    bottom: 108px;
    background-color:green;
    padding: 5px 12px;
    font-size: 15px;
    color: white;
    font-weight: bold; 
}
.section2{
    padding-top: 50px;
}
.giuu{
    padding-top: 10px;
}